*{
    margin: 0px;padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: rgb(73, 71, 211);
    height: 70px;
    position: fixed;
}
.icon > h2{
    padding-top: 20px;
    padding-left: 20px;
    color: #ffffff;
}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: -25px;
}
.btn div input {
    margin: -2px 1px;
    padding: 6px 40px;
    background-color: #f99977;
    border-radius: 6px;
    box-shadow: #f9997773 0px 1px 4px;
    border: none;
    color: white;
    cursor: pointer;
}

#sign-in {
    margin-right: 20px;
}
.navbar{
    font-family: sans-serif;
    padding-top: 110px;
    height: 40px;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);
}
.menuitem{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.lst-item{
    margin:-30px 95px; 
    font-family: sans-serif;
    font-weight: bold;
}
.lst-item >a{
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 1.2vw;
}

.lst-item>ul{
    padding: 10px;
    position: relative;
    margin-top: 10px;
    background-color: gray;
    display: none;
}

.lst-item>ul>li{
    list-style-type: none;
    line-height: 1.8;
}
.lst-item>ul>li>a{
    text-decoration: none;
    color: #ffffff;
}
.lst-item:hover>ul{
    display:block;
    position: absolute;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);
    border-radius: 0px 8px 0px 8px;
}
.lst-item:hover>a>i{
    transform: rotate(-180deg);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 5px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8)
  }
  
.clearfix{
    clear: both;
}
.body{
    padding: 5px;
    background-color:ivory;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.2);
}
.card-container{
    display: flex;
    width: 100%;
    height: auto;
    margin-top:-100px;
    justify-content: center;
    align-items: center;
}
.card{
    width: 230px;
    height: 270px;
    box-shadow: 2px 5px 24px rgba(0,0,0,0.1);   
    position: relative;
    margin: 50px 70px;
    background-color: ivory;
}
/* Course Section */
.course-H {
    text-align: center;
    height: 70px;
    margin: 50px;
}

.course-card {
    box-shadow: rgb(174, 172, 172) 0px 0px 10px;
    outline: 1px solid #d6d6d6;
    background-color: white;
    height: 280px;
    width: 252px;
    margin: 20px;
}

.course-container div img {
    height: auto;
    width: inherit;
    /* margin: 0px; */
}

.course-container div h2 {
    margin: 8px;
    font-size: 1.2rem;
    background-color: white;
}

.course-container div input {
    border: none;
    background-color: #2196F3;
    border-radius: 4px;
    margin: 14px 9px;
    padding: 4px 81px;
    cursor: pointer;
}

.course-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
}

footer{
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    background-color:gray;
    color: #ffffff;
}
.footerbox{
    width:25%;
    text-align: center;
    
}
.footer-list{
    margin-top: 10px;
}
.footer-list li{
    list-style-type: none;
    line-height: 1.4;
}
.footer-list li a{
    text-decoration: none;
    color: #ffffff;
}
.copy{
    background-color: #000000;
    text-align: center;
    width: 100%;
}
.copy p{
    padding: 5px;
    color: #ffffff;
}

